html, body {
    margin: 0;
    padding: 0;
    background: grey;
}

body {
    color: white;
    font-family: Roboto;
    font-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    background: rgb(70,70,70);
    width: 125%;
    height: 8.5vmin;
    overflow: hidden;
}

@keyframes changeCol {
    from {background-color: rgb(70,70,70); color: white;}
    to { background-color: white; color: black; }
}

@keyframes hoverEnd {
    from { background-color: white; color: black; }
    to {background-color: rgb(70,70,70); color: white;}
}

li {
    display: inline;
    padding-left: 5vmin;
    padding: 3vmin;
    font-size: 2.5vmin;
    height: 8vmin;
    text-align: center;
}

.navitem {
    animation-name: hoverEnd;
    animation-duration: 0.25s;

    display: inline;
    padding-left: 5vmin;
    padding: 4vmin;
}

.navitem:hover {
    color: black;
    cursor: pointer;
    animation-name: changeCol;
    animation-duration: 0.25s;
    background-color: white;
    color: rgb(70,70,70);
}
