html, body {
    background: grey;
    color: white;
    font-family: Roboto;
}

header {
    color: rgb(65,65,65);
}

.navbar {
    width: 100%;
    height: 8vmin;
    font-size: 3.5vmin;
}

.navlist {
    height: 8vmin;
}

@keyframes navhoverb {
    from { background: grey; color: white; }
    to { background-color: white; color: rgb(65,65,65); }
}

@keyframes navhovere {
    to { background: grey; color: white; }
    from { background-color: white; color: rgb(65,65,65); }
}

.navitem {
    animation-name: navhovere;
    animation-duration: 0.25s;
    /*----ANIM-SETUP----*/
    cursor: poniter;
    display: inline;
}

.navitem:hover {
    animation-name: navhoverb;
    animation-duration: 0.25s;
    /*----ANIM-SETUP----*/
    background-color: white;
    color: rgb(65,65,65);
}