html, body {
    margin: 0;
    padding: 0;
    background: grey;
    font-family: Roboto;
    color: white;
}

.navbar {
    background: #574c4f;
    color: white;
    position: fixed;
    top: 0;
    height: 8vmin;
    width: 100%;
    overflow: hidden;
}

@keyframes navitemhover {
    from { background: #574c4f; color: white; }
    to { background: white; color: #574c4f; }
}

@keyframes navitemhoverend {
    to { background: #574c4f; color: white; }
    from { background: white; color: #574c4f; }
}

.navitem {
    animation-name: navitemhoverend;
    animation-duration: 0.25s;
    display: inline;
    font-size: 2.5vmin;
    cursor: pointer;
    padding: 4vmin;
    text-anchor: middle;
}

.navitem:hover {
    animation-name: navitemhover;
    animation-duration: 0.25s;
    background: white;
    color: #574c4f;
}

#navul {
    height: inherit;
}

.hometitle {
    position: fixed;
    top: 15vmin;
    width: 100%;
    text-align: center;
    font-size: 5vmin;
}

.homeinfo {
    position: fixed;
    top: 25vmin;
    left: 5vmin;
    font-size: 3.5vmin;
}

#forumdisp {
    position: fixed;
    top: 25vmin;
}
